@model IEnumerable<ArticleViewModel>

@{
    ViewData["Title"] = "Articles";
}

<div class="h1 mb-4">Articles</div>

@foreach (var item in Model) {
    <div class="card mb-5">
        <div class="card-header h5">@item.Title</div>
        <div class="card-body">
            <div class="card-text">
                @foreach (var paragraph in item.Text.Split(Environment.NewLine))
                {
                    @paragraph
                    <br />
                }
            </div>
            <div class="card-text text-right" style="color: gray">
                @item.Date
            </div>

            <div class="card-text">
                <a asp-action="Details" asp-route-id="@item.Id" class="btn m-1">@item.Comments.Count() comments</a>
                @if (User.IsInRole("Administrator"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary m-1">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger m-1">Delete</a>
                }
            </div>
        </div>
    </div>
}

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary m-1">Create New</a>
    </p>
}

